.container{
    text-align: center;
}
h1{
    background-color: rgb(190, 217, 228);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}
form{
    margin: 1rem;
}
.form-group{
    text-align: center;
    font-size: 1.5rem;
}
.label{
    font-size: 1.2rem;
}
button{
    cursor: pointer;
    margin-left: 0.5rem;
    padding: 0.6rem;
    width: 4rem;
    background-color: rgb(190, 217, 228);
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}
input{
    cursor: horizontal-text;
    margin-left: 0.3rem;
    padding: 0.3rem;
    border: 2px solid rgb(139, 136, 136);
    border-radius: 5px;
}